<div class="form-container">
  <h1>Añadir criptomoneda</h1>

  <!-- crypto-form.component.html -->

  <form [formGroup]="cryptoForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Nombre">
      <mat-error *ngIf="cryptoForm.get('name')">El nombre es requerido</mat-error>
      <mat-error *ngIf="cryptoForm.get('name')">El nombre debe tener al menos 3 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="symbol" placeholder="Símbolo">
      <mat-error *ngIf="cryptoForm.get('symbol')">El símbolo es requerido</mat-error>
      <mat-error *ngIf="cryptoForm.get('symbol')">El símbolo debe tener al menos 3 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="currentPrice" type="number" placeholder="Precio Actual">
      <mat-error *ngIf="cryptoForm.get('currentPrice')">El precio actual es requerido</mat-error>
      <mat-error *ngIf="cryptoForm.get('currentPrice')">El precio actual no puede ser negativo</mat-error>
    </mat-form-field>

    <button class="btn btn-primary" type="submit" [disabled]="!cryptoForm.valid">Guardar</button>

  </form>

</div>
