<h1>Lista de Criptomonedas</h1>


<div class="demo-button-container">

  <button mat-button [matMenuTriggerFor]="menu">Añadir Criptomoneda</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/add-crypto']">Crear Criptomoneda</button>
    <button mat-menu-item (click)="addCryptoCurrencyDialog()">Añadir Criptomoneda</button>
  </mat-menu>
</div>
<!--<ng-container *ngIf="isLoading$">-->
<!--  <h3>Cargando los datos...</h3>-->
<!--  <ngx-skeleton-loader [theme]="{height: '20px', background: '#CED9DE'}"  ></ngx-skeleton-loader>-->
<!--</ng-container>-->

<ng-container *ngIf="!isLoading$">

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading$">
  <!-- Position Column -->
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let crypto">
      <div *ngIf="crypto">{{crypto.id}}</div>
    </mat-cell>
  </ng-container>


  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let crypto"> {{crypto.name}} </mat-cell>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="Symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let crypto"> {{crypto.symbol}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Current Price">
    <mat-header-cell *matHeaderCellDef> Current Price </mat-header-cell>
    <mat-cell *matCellDef="let crypto"> {{crypto.currentPrice}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Editar">
    <mat-header-cell *matHeaderCellDef> Editar</mat-header-cell>
    <mat-cell *matCellDef="let crypto">
      <button (click)="updateCryptoPrice(crypto.id)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Borrar">
    <mat-header-cell *matHeaderCellDef> Borrar</mat-header-cell>

    <mat-cell *matCellDef="let crypto">
      <button (click)="deleteCryptoCurrency(crypto.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
</ng-container>
<ng-container *ngIf="isLoading$">
  <h3>Cargando los datos...</h3>
  <ngx-skeleton-loader [theme]="{height: '20px', background: '#CED9DE'}"></ngx-skeleton-loader>

</ng-container>
<mat-paginator [pageSizeOptions]="[5]" [length]="maxSize" (page)="pageChangeEvent($event)" showFirstLastButtons></mat-paginator>



